@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'League Spartan', sans-serif;;
    scroll-behavior: smooth;
}

/* Menu header */

.header{
    background-color: #1B1B1F;
    top:0;
    left:0;
    right: 0;
    padding: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    font-family: 'League Spartan', sans-serif;

    
}
.menu{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    margin-right: 50px;
}
#logo{
  font-size: 35px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.mobile-menu {
  display: none;
}

/* Configuracion de secciones */
section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #2c2b47;
    font-size: 70px;
  }

/* Inicio/Home */

#home{
  background-color: #1B1B1F;
}

#home img{
  height: 73vh;
  width: 38vw;
  margin-right: 12%;
  max-height: 100%;
  height: auto;
}

#home h1{
  font-size: 3.5vw;
  color: #fCAA17;
  text-transform: uppercase;
  font-weight: bold;    
}

#home button{
  padding: 1rem 2rem;
  font-size: 1.5vw;
  border: #fCAA17;
  border-radius: 100px;
  color: #1B1B1F;
  background: #fCAA17;
  margin-left: 9.5vw;
}

#home button a{
  text-decoration: none
}
#home button:hover{
  box-shadow: 0px 0px 20px #fCAA17;
}
#home button:active{
  box-shadow: none;
}

/* Sobre Nosotros/About */

#about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5rem;
  align-items: center;
  background-color: #1B1B1F;
}

.about{
  margin-right: 10%;
}

#about img{
  margin-left: 7vw;
  width: 39vw;
  height: 74vh;
  max-height: 100%;
  height: auto;
}
#about .about h1{
  color: #fCAA17;
  font-size: 3.8vw;
  margin-bottom: 20px;

}

#about .about h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2vw;
  margin: 10px 0 30px;
  color: white;
  text-shadow: 0px 0px 20px#ffffff;
}

#about .about p{
  font-size: 1vw;
  margin: 25px 0 30px;
}

#about .about button{
  padding: 1rem 2rem;
  font-size: 1.5vw;
  border: #fCAA17;
  border-radius: 100px;
  color: #1B1B1F;
  background: #fCAA17;
}

#about .about button a{
  text-decoration: none;
}

#about .about button:hover{
  box-shadow: 0px 0px 20px #fCAA17;
}
#about .about button:active{
  box-shadow: none;
}

/* Menu/Food Menu */

#menu{
  background-color: #1B1B1F;

}
.menu a{
    padding: 10px;
    transition: all 300ms;
    text-decoration: none;
}

.menu a:hover{
  color: black;
  background-color: #fCAA17;
  box-shadow: 0px 0px 20px #fCAA17;

}
#menu h1{
  font-size: 3.7vw;
  color: #fCAA17;
  margin-right: 1.5vw;
}

#menu h1 button{
  padding: 1rem 2rem;
  font-size: 1.5vw;
  border: #fCAA17;
  border-radius: 100px;
  color: #1B1B1F;
  background: #fCAA17;
  margin-left: 6vw;
  }

#menu h1 button:hover{
  box-shadow: 0px 0px 20px #fCAA17;
}
#menu h1 button:active{
  box-shadow: none;
}

.producto {
  width: 20%;
  height: 40%;
  margin: 10px;
  padding: 1em;
  font-size: 18px;
  background-color: #1B1B1F;
  border: 3px solid#fCAA17;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.producto img{
  width: 100%;
  height: 45%;
  max-width: 300px;
  max-height: 420px;
  margin-bottom: 10px;
  max-height: 100%;
  height: auto;
}

.producto > .descripcion{
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Servicios/Services */

#service{
  background-color: #1B1B1F;
  display: flex;
  flex-direction: column;
}
#titulo-servicios p{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: #fCAA17;
  font-size: 5.4vw;
}

#cont-servicios{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cont-servicios .servicio p{
  margin-bottom: 10px;
}
#cont-servicios .servicio h2{
  margin-bottom: 10px;
}
#cont-servicios .servicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 3px;
  border: 3px solid#fCAA17;
  text-align: center;
  font-size: 22px;
  max-width: 500px;
  max-height: 400px;
}

#cont-servicios .servicio img{
  width: 50%;
  height: 100%;
  margin: 10px 0px 10px 0px;
  max-height: 100%;
  height: auto;
}


/* Contacto/Contact */

#contact{
  background-color: #1B1B1F;
  display: flex;
  flex-direction: column;
  height:65vh;
}

#titulo-contacto p{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fCAA17;
  font-size: 5.4vw;
  margin-bottom: 50px;
  margin-top: 50px;
  line-height: 70px;

}

#titulo-contacto p span{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5vw;
  color: #ffffff;
  text-decoration-line:overline;
  font-size: 2.7vw;
  font-family: 'Public Sans', sans-serif;
}

.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-evenly;
  height:fit-content;
}

.buttons a {
  text-decoration: none;
  font-size: 58px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #fCAA17;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}



/* UBICACION */

#ubicacion{
  background-color: #1B1B1F;
  display: flex;
  flex-direction: column;
  justify-content:center;

}

#tituloubi p{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 70px;
  color: #fCAA17;
  font-size: 5.4vw;
}
#tituloubi p span{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #ffffff;
  text-decoration-line:overline;
  font-size: 2.7vw;
  font-family: 'Public Sans', sans-serif;
}

#ubicacion .mapa{
  margin-top: 50px;
  position:relative;
  width: 90vw;
  height: 50vh;
}

#ubicacion .mapa iframe{
  height:100%;
  width:100%;
  position:absolute;
}


/* Final */

.clearfix{
  float: none;
  clear: both
}

#footer{
  width: 100%;
  height: 100px;
  background-color: #1B1B1F;
  text-align: center;
  line-height: 23px;
}

#credit{
  font-size: 10px;
  line-height: 50px;
}

/* Configuraciones Responsive */

@media (min-width: 768px) and (max-width: 1024px) {
/* Estilos para pantallas entre 768px y 1024px de ancho */
  /* About Responsive */
#about .about h1{
  color: #fCAA17;
  font-size: 4.3vw;
  margin-bottom: 20px;
  
}
#about .about p{
  font-size: 1.5vw;
  margin-bottom: 5px;
}
#about img{
  margin-left: 9.5vw;
}
/* Menu Responsive */
#menu{
  background-color: #1B1B1F;
  display: flex;
  flex-direction: column;
}
.menu a{
    padding: 10px;
    transition: all 300ms;
    text-decoration: none;
}
.menu a:hover{
  color: black;
  background-color: #fCAA17;
  box-shadow: 0px 0px 20px #fCAA17;
}
#menu h1{
  font-size: 3.7vw;
  color: #fCAA17;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#menu h1 button{
  padding: 1rem 2rem;
  font-size: 1.5vw;
  border: #fCAA17;
  border-radius: 100px;
  color: #1B1B1F;
  background: #fCAA17;
  margin: 0px;
  }
#menu h1 button:hover{
  box-shadow: 0px 0px 20px #fCAA17;
}
#menu h1 button:active{
  box-shadow: none;
}
.producto {
  width: 30%;
  height: 40%;
  padding: 1em;
  font-size: 18px;
  background-color: #1B1B1F;
  border: 3px solid#fCAA17;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 22px;
  margin-top: 10px;
}
.producto img{
  width: 70%;
  height: 45%;
  max-width: 300px;
  max-height: 420px;
  margin-bottom: 10px;
  max-height: 100%;
  height: auto;
}
.producto > .descripcion{
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

@media (min-width: 320px) and (max-width: 425px) {

  /* Estilos para pantallas de al menos 425px de ancho */

   /* HOme Responsive */
   #home{
    background-color: #1B1B1F;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  section{
    height: 93.5vw;
  }

  #home img{
    height: 115vh;
    width: 78vw;
    max-height: 100%;
    height: auto;
    padding-top: 10vh;
    margin: 0;
  }
  
  #home h1{
    font-size: 10vw;
    color: #fCAA17;
    text-transform: uppercase;
    font-weight: bold;  
    padding-top: 10vh;
    margin-bottom: 5vh;
  }
  
  #home button{
    padding: 1rem 2rem;
    font-size: 1.5vw;
    border: #fCAA17;
    border-radius: 100px;
    color: #1B1B1F;
    background: #fCAA17;
    margin-left: 33vw;
  }

    /* About Responsive */

  #about{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  #about .about h1{
    margin-top: 20vh;
    color: #fCAA17;
    font-size: 9vw;
    margin-bottom: 20px;
    text-align: center;
    
  }

  #about .about p{
    font-size: 5vw;
    margin-bottom: 2px;
    text-align:center;

  }

  .about{
   margin: 0;
  }
  #about .about h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: white;
    text-shadow: 0px 0px 20px#ffffff;
    text-align: center;
  }

  #about img{
    margin: 0;
    width: 69vw;
    height: 104vh;
    max-height: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #about .about button{
    display: none;
    
  }

  /* Menu Responsive */

  #menu{
    background-color: #1B1B1F;
    display: flex;
    flex-direction: column;
    padding-top: 15.5vh;
    padding-bottom: 5vh;
    height: fit-content;
    padding-top: 25vh;

  }
  .menu a{
    padding: 10px;
    transition: all 300ms;
    text-decoration: none;
  }

  .menu a:hover{
    color: black;
    background-color: #fCAA17;
    box-shadow: 0px 0px 20px #fCAA17;

  }
  #menu h1{
    font-size: 8vw;
    color: #fCAA17;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
  }

  #menu h1 button{
    display: none;

    }

  #menu h1 button:hover{
    box-shadow: 0px 0px 20px #fCAA17;
  }

  #menu h1 button:active{
    box-shadow: none;
  }

  .producto {
    width: 45%;
    height: 40%;
    font-size: 18px;
    background-color: #1B1B1F;
    border: 3px solid#fCAA17;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 22px;
    margin-top: 10px;
  }

  .producto img{
    width: 70%;
    height: 45%;
    max-width: 300px;
    max-height: 420px;
    margin-bottom: 10px;
    max-height: 100%;
    height: auto;
  }

  .producto > .descripcion{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Services Responsive */

  #service{
    padding-top:300px ;
    background-color: #1B1B1F;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
  }
  #titulo-servicios p{
    margin-bottom: 50px;
    color: #fCAA17;
    font-size: 5.4vw;
  }
  
  #cont-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #cont-servicios .servicio p{
    margin-bottom: 10px;
  }
  #cont-servicios .servicio h2{
    margin-bottom: 10px;
  }
  #cont-servicios .servicio{
    width: 55%;
    height: 40%;
    font-size: 18px;
    background-color: #1B1B1F;
    border: 3px solid#fCAA17;
    font-size: 22px;
    margin-top: 10px;
  }
  
  #cont-servicios .servicio img{
    width: 50%;
    height: 100%;
    margin: 10px 0px 10px 0px;
    max-height: 100%;
    height: auto;
  }
      /* Contactos Responsive */
  #contact{
    background-color: #1B1B1F;
    display: flex;
    flex-direction: column;
    height:75vh;
    padding-top: 10vh;

  }
  
  #titulo-contacto p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fCAA17;
    font-size: 8vw;
    margin-top: 50VH;
    line-height: 30px;
    margin-bottom: 0;
  
  }
  
  #titulo-contacto p span{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration-line:overline;
    font-size: 5vw;
    font-family: 'Public Sans', sans-serif;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    height:500PX;
    justify-content: space-evenly;
    }
  
  .buttons a {
    text-decoration: none;
    font-size: 58px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #fCAA17;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }

/* UBICACION RESPONSIVE */

#ubicacion{
  background-color: #1B1B1F;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-top:15VH ;
  padding-bottom:5VH ;

}

#tituloubi p{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fCAA17;
  font-size: 8vw;
  margin-top: 50px;
  line-height: 30px;
}
#tituloubi p span{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5vw;
  color: #ffffff;
  text-decoration-line:overline;
  font-size: 5vw;
  font-family: 'Public Sans', sans-serif;
}

#footer{
  width: 100%;
  height: 150px;
  background-color: #1B1B1F;
  text-align: center;
  line-height: 23px;
}

}

@media (max-width: 768px) {
.mobile-menu {
  display: flex;
}
#logo{
  display: none; /* Oculta el icono de menú en dispositivos móviles */
}
.menu {
  display: none; /* Oculta el menú principal en dispositivos móviles */
}
.navbar-mobile {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

#mobile-menu-icon {
  font-size: 2rem;
  cursor: pointer;
  color: var(white);
  margin-right: 20px;
}
.active {
  display: block !important;
}
.navbar-mobile a {
    color: whitesmoke; /* Cambia 'orange' al color que desees */
    text-decoration: none;
    display: block;
  }

  .navbar-mobile a:hover {
    color: white; /* Cambia 'white' al color de resaltado que desees */
  }
}